$bgColor: #f8f8f8;
$bgColorHover: #cecece;

$orangeOne: #ec6901;
$orangeOneHover: #BC5300;
$orangeOneSoft: #EA6F0C;
$orangeOneSoftTwo: #FFA55D;

$orangeTwo: #6c0a01;
$orangeTwoSoft: #922418;
$orangeTwoSoftTwo: #B64438;

$titleColor: #111111;
$titleSectionColor: #777777;
$subTitleColor: #222222;
$paragraphColor: #444444;
$quoteColor: #999999;

$errorColor: #ec0d01;